<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aufgabe bearbeiten</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href="@{/css/sidebar.css}">
</head>
<body>

    <div th:replace="~{fragments/sidebar :: fragment}"></div>
    <div class="main-content">
        <h1>Aufgabe bearbeiten</h1>
        <form th:if="${isFreitext}" th:action="@{/quizansicht/{title}/aufgabe/{aufgabeId}/edit(title=${title}, aufgabeId=${aufgabe.id})}" method="post">
            <div class="form-group">
                <label for="frage">Frage</label>
                <input type="text" class="form-control" id="frage" name="frage" th:value="${aufgabe.frage}">
            </div>
            <div class="form-group">
                <label for="maximalPunkte">Maximale Punktzahl</label>
                <input type="number" class="form-control" id="maximalPunkte" name="maximalPunkte" th:value="${aufgabe.maximalPunktzahl}">
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </form>

        <form th:if="${!isFreitext}" th:action="@{/quizansicht/{title}/aufgabe/{aufgabeId}/edit(title=${title}, aufgabeId=${aufgabe.id})}" method="post">
            <div class="form-group">
                <label for="frage">Frage</label>
                <input type="text" class="form-control" id="frage" name="frage" th:value="${aufgabe.frage}">
            </div>
            <div class="form-group">
                <label for="antworten">Antworten</label>
                <textarea class="form-control" id="antworten" name="antworten" th:text="${aufgabe.antworten}"></textarea>
            </div>
            <div class="form-group">
                <label for="richtigeAntworten">Richtige Antworten</label>
                <textarea class="form-control" id="richtigeAntworten" name="richtigeAntworten" th:text="${aufgabe.richtigenAntworten}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Speichern</button>
        </form>
    </div>
</body>
</html>
